<section class="bg-dark text-light px-5 pt-5 text-center">
    <div>
        <h1 class="h1 title">About Me</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md pt-5 about-left">
                <p>I'm a 3rd year student at The University of Toronto, pursuing a Double Major in Computer Science and Computational Cognition. I have 8+ months of work experience in the financial industry. My first internship was with a boutique consulting firm, where I was focused on building REST APIs. Right after, I joined an AI-focused FinTech to help develop an MVP to transfer their home finance solutions over to the auto industry. Currently, I'm working as a Software Engineer Intern at Security Compass.</p>
            </div>
            <div class="col-md pt-5 about-right">
                <p>Outside of work, I love playing video games. I'm currently mildly addicted to League of Legends... Before LoL, it was Overwatch and Destiny. I'm also a huge fan of football (both American and British), though I only play one - I'll leave that up to you to guess. Last but not least, I love listening to metal music; my favourite bands are Slipknot and Gojira.</p>
            </div>
        </div>
    </div>

    <div class="container pt-5">
        <div class="row grid-1">
            <div class="col">
                <img src="assets/album1.jpg" class="img-fluid rounded" alt="">
            </div>
            <div class="col">
                <img src="assets/album3.jpg" class="img-fluid rounded" alt="">
            </div>
            <div class="col">
                <img src="assets/album2.jpg" class="img-fluid rounded" alt="">
            </div>
        </div>
        <div class="row grid-2">
            <div class="col pt-3">
                <img src="assets/album4.jpg" class="img-fluid rounded" alt="">
            </div>
            <div class="col pt-3">
                <img src="assets/album5.jpg" class="img-fluid rounded" alt="">
            </div>
            <div class="col pt-3">
                <img src="assets/album6.jpg" class="img-fluid rounded" alt="">
            </div>
        </div>
        <div class="row grid-3">
            <div class="col pt-3">
                <img src="assets/album7.jpg" class="img-fluid rounded" alt="">
            </div>
            <div class="col pt-3">
                <img src="assets/album8.jpg" class="img-fluid rounded" alt="">
            </div>
            <div class="col pt-3">
                <img src="assets/album9.jpg" class="img-fluid rounded" alt="">
            </div>
        </div>
    </div>