<section class="bg-dark text-light p-5 text-center">
    <div class="container">
            <div class="row d-flex">
                <div class="col px-0 py-1 cycle-2 cycle-3 cycle-4"><p class="h3 analogue-text">I</p></div>
                <div class="col px-0 py-1 cycle-1"><p class="h3 analogue-text">M</p></div>
                <div class="col px-0 py-1 cycle-1"><p class="h3 analogue-text">Y</p></div>
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">G</p></div>
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">O</p></div>
                <div class="col px-0 py-1 cycle-4"><p class="h3 analogue-text">L</p></div>
                <div class="col px-0 py-1 cycle-4"><p class="h3 analogue-text">O</p></div>
                <div class="col px-0 py-1 cycle-4"><p class="h3 analogue-text">V</p></div>
                <div class="col px-0 py-1 cycle-4"><p class="h3 analogue-text">E</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">E</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">A</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">S</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">T</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">E</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">R</p></div>
            </div>
            <div class="row d-flex">
                <div class="col px-0 py-1 cycle-1"><p class="h3 analogue-text">N</p></div>
                <div class="col px-0 py-1 cycle-1"><p class="h3 analogue-text">A</p></div>
                <div class="col px-0 py-1 cycle-1"><p class="h3 analogue-text">M</p></div>
                <div class="col px-0 py-1 cycle-1"><p class="h3 analogue-text">E</p></div>
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">T</p></div>
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">O</p></div>
                <div class="col px-0 py-1 cycle-3"><p class="h3 analogue-text">A</p></div>
                <div class="col px-0 py-1 cycle-3"><p class="h3 analogue-text">M</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">J</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">A</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">V</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">A</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">E</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">G</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">G</p></div>
            </div>
            <div class="row d-flex">
                <div class="col px-0 py-1 cycle-3"><p class="h3 analogue-text">A</p></div>
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">T</p></div>
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">H</p></div>
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">E</p></div>
                <div class="col px-0 py-1 cycle-1"><p class="h3 analogue-text">I</p></div>
                <div class="col px-0 py-1 cycle-1"><p class="h3 analogue-text">S</p></div>
                <div class="col px-0 py-1 cycle-3"><p class="h3 analogue-text">S</p></div>
                <div class="col px-0 py-1 cycle-3"><p class="h3 analogue-text">O</p></div>
                <div class="col px-0 py-1 cycle-3"><p class="h3 analogue-text">F</p></div>
                <div class="col px-0 py-1 cycle-3"><p class="h3 analogue-text">T</p></div>
                <div class="col px-0 py-1 cycle-3"><p class="h3 analogue-text">W</p></div>
                <div class="col px-0 py-1 cycle-3"><p class="h3 analogue-text">A</p></div>
                <div class="col px-0 py-1 cycle-3"><p class="h3 analogue-text">R</p></div>
                <div class="col px-0 py-1 cycle-3"><p class="h3 analogue-text">E</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">R</p></div>
            </div>
            <div class="row d-flex">
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">U</p></div>
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">N</p></div>
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">I</p></div>
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">V</p></div>
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">E</p></div>
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">R</p></div>
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">S</p></div>
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">I</p></div>
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">T</p></div>
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">Y</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">A</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">G</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">I</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">L</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">E</p></div>
            </div>
            <div class="row d-flex">
                <div class="col px-0 py-1 cycle-1"><p class="h3 analogue-text">A</p></div>
                <div class="col px-0 py-1 cycle-1"><p class="h3 analogue-text">L</p></div>
                <div class="col px-0 py-1 cycle-1"><p class="h3 analogue-text">A</p></div>
                <div class="col px-0 py-1 cycle-1"><p class="h3 analogue-text">M</p></div>
                <div class="col px-0 py-1 cycle-1"><p class="h3 analogue-text">G</p></div>
                <div class="col px-0 py-1 cycle-1"><p class="h3 analogue-text">I</p></div>
                <div class="col px-0 py-1 cycle-1"><p class="h3 analogue-text">R</p></div>
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">O</p></div>
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">F</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">P</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">Y</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">T</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">H</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">O</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">N</p></div>
            </div>
            <div class="row d-flex">
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">T</p></div>
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">O</p></div>
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">R</p></div>
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">O</p></div>
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">N</p></div>
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">T</p></div>
                <div class="col px-0 py-1 cycle-2"><p class="h3 analogue-text">O</p></div>
                <div class="col px-0 py-1 cycle-3"><p class="h3 analogue-text">E</p></div>
                <div class="col px-0 py-1 cycle-3"><p class="h3 analogue-text">N</p></div>
                <div class="col px-0 py-1 cycle-3"><p class="h3 analogue-text">G</p></div>
                <div class="col px-0 py-1 cycle-3"><p class="h3 analogue-text">I</p></div>
                <div class="col px-0 py-1 cycle-3"><p class="h3 analogue-text">N</p></div>
                <div class="col px-0 py-1 cycle-3"><p class="h3 analogue-text">E</p></div>
                <div class="col px-0 py-1 cycle-3"><p class="h3 analogue-text">E</p></div>
                <div class="col px-0 py-1 cycle-3"><p class="h3 analogue-text">R</p></div>
            </div>
            <div class="row d-flex">
                <div class="col px-0 py-1 cycle-4"><p class="h3 analogue-text">T</p></div>
                <div class="col px-0 py-1 cycle-4"><p class="h3 analogue-text">E</p></div>
                <div class="col px-0 py-1 cycle-4"><p class="h3 analogue-text">C</p></div>
                <div class="col px-0 py-1 cycle-4"><p class="h3 analogue-text">H</p></div>
                <div class="col px-0 py-1 cycle-4"><p class="h3 analogue-text">N</p></div>
                <div class="col px-0 py-1 cycle-4"><p class="h3 analogue-text">O</p></div>
                <div class="col px-0 py-1 cycle-4"><p class="h3 analogue-text">L</p></div>
                <div class="col px-0 py-1 cycle-4"><p class="h3 analogue-text">O</p></div>
                <div class="col px-0 py-1 cycle-4"><p class="h3 analogue-text">G</p></div>
                <div class="col px-0 py-1 cycle-4"><p class="h3 analogue-text">Y</p></div>
                <div class="col px-0 py-1 cycle-1"><p class="h3 analogue-text">K</p></div>
                <div class="col px-0 py-1 cycle-1"><p class="h3 analogue-text">H</p></div>
                <div class="col px-0 py-1 cycle-1"><p class="h3 analogue-text">A</p></div>
                <div class="col px-0 py-1 cycle-1"><p class="h3 analogue-text">N</p></div>
                <div class="col px-0 py-1"><p class="h3 analogue-text">D</p></div>
            </div>
    </div>
</section>