<section class="bg-dark text-light px-5 text-center pt-5">
    <div>
        <h1 class="h1">Work Experience</h1>
    </div>
    
    <div class="container pb-5">
        <div class="row">
            <!-- Exp One -->
            <div class="col-md pt-5">
                <div class="card bg-dark text-light h-100">
                    <img src="assets/SCLogo.png" class="card-img-top mx-auto" alt="..." style="height: 150px; width: 250px;">
                    <div class="card-body">
                      <h5 class="card-title"><a href="https://www.securitycompass.com/" class="text-decoration-none text-light" target="_blank" rel="noopener noreferrer">Security Compass</a></h5>
                      <h6 class="text-white-50">May 2022 - Aug 2022</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item bg-dark text-light">Expanding functionality of a diagrammatic threat modelling tool, used by 80% of clients, with JavaScript, React, Redux and Cypress</li>
                      <li class="list-group-item bg-dark text-light">Implemented a sorting algorithm on a Django API endpoint in Python per request of a $1,000,000 client and added behave API tests using Gherkin and Cucumber. Featured in the Employee Spotlight of the Month.</li>
                      <li class="list-group-item bg-dark text-light">Overhauled diagramming state management using React’s useReducers to manage complex state changes and reduce code duplication.</li>
                    </ul>
                    <div class="card-body">
                        <span class="badge rounded-pill text-bg-success">Python</span>
                        <span class="badge rounded-pill text-bg-success">JavaScript</span>
                        <span class="badge rounded-pill text-bg-success">Django</span>
                        <span class="badge rounded-pill text-bg-success">Gherkin</span>
                        <span class="badge rounded-pill text-bg-success">React</span>
                    </div>
                  </div>
            </div>
            <!-- Exp Two -->
            <div class="col-md pt-5">
                <div class="card bg-dark text-light h-100">
                    <img src="assets/SensoLogo.png" class="card-img-top mx-auto" alt="..." style="height: 150px; width: 250px;">
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://www.senso.ai/" class="text-decoration-none text-light" target="_blank" rel="noopener noreferrer">Senso.ai</a></h5>
                      <h6 class="text-white-50">Sep 2021 - Dec 2021</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item bg-dark text-light">Designed and hosted an MVP on AWS to transfer the company’s AI‑powered home finance solutions over to the auto industry. Recognized
                        as the most innovative solution amongst 5 other designs by the CTO.</li>
                      <li class="list-group-item bg-dark text-light">Coded the backend of the project’s recommendation system using Java and Spring to help partnered banks secure 20% more auto loans.</li>
                      <li class="list-group-item bg-dark text-light">Modeled and monitored the project’s MySQL database through MySQL Workbench. Wrote code for all CRUD operations using JDBC.</li>
                    </ul>
                    <div class="card-body">
                        <span class="badge rounded-pill text-bg-success">Java</span>
                        <span class="badge rounded-pill text-bg-success">Spring</span>
                        <span class="badge rounded-pill text-bg-success">MySQL</span>
                        <span class="badge rounded-pill text-bg-success">AWS</span>
                    </div>
                  </div>
            </div>
            <!-- Exp Three -->
            <div class="col-md pt-5">
                <div class="card bg-dark text-light h-100">
                    <img src="assets/NavikenzLogo.png" class="card-img-top mx-auto" alt="..." style="height: 150px; width: 250px;">
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://www.navikenz.com/" class="text-decoration-none text-light" target="_blank" rel="noopener noreferrer">Navikenz</a></h5>
                      <h6 class="text-white-50">June 2021 - Sep 2021</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item bg-dark text-light">Created an optimization tool in Python that reduced runtime from days to real‑time. Wrote unit tests with 90% code coverage</li>
                      <li class="list-group-item bg-dark text-light">Developed a RESTful web service using FastAPI in an agile team of 5 to handle resource distribution. Received high praise from CEO.
                    </li>
                      <li class="list-group-item bg-dark text-light">Devised a UML data model and database schema for the project. Implemented all CRUD operations in MongoDB using PyMongo.</li>
                    </ul>
                    <div class="card-body">
                        <span class="badge rounded-pill text-bg-success">Python</span>
                        <span class="badge rounded-pill text-bg-success">FastAPI</span>
                        <span class="badge rounded-pill text-bg-success">MongoDB</span>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>