<section class="bg-dark text-light p-5 text-center">
    <div>
        <h1 class="h1">Projects</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md pt-5">
                <div class="card bg-dark text-light h-100">
                    <div class="card-body">
                      <h5 class="card-title">A* Pathfinding</h5>
                      <p class="card-text">A node‑based approach of the A* pathfinding algorithm</p>
                    </div>
                    <img src="assets/astar2.png" class="card-img-top mx-auto rounded" alt="..." style="height: 75%; width: 75%">
                    <!-- <img src="assets/astar2.png" class="card-img-top mx-auto rounded" alt="..." style="height: 350px; width: 350px"> -->
                    <div class="card-body">
                        <a href="https://github.com/Alamgir-K/A-Star-Pathfinding" class="btn btn-primary mx-auto" target="_blank" rel="noopener noreferrer">GitHub</a>
                    </div>
                  </div>
            </div>
            <div class="col-md pt-5">
                <div class="card bg-dark text-light h-100">
                    <div class="card-body">
                      <h5 class="card-title">Climate Change Simulation</h5>
                      <p class="card-text">Visualization of climate change effects predicted by the BCCAQv2 model</p>
                    </div>
                    <img src="assets/ccs1.png" class="card-img-top mx-auto rounded" alt="..." style="height: 75%; width: 75%">
                    <img src="assets/ccs2.png" class="card-img-top mx-auto rounded" alt="..." style="height: 75%; width: 75%">
                    <div class="card-body">
                        <a href="https://github.com/Alamgir-K/Climate-Change-Simulation" class="btn btn-primary mx-auto" target="_blank" rel="noopener noreferrer">GitHub</a>
                    </div>
                  </div>
            </div>
            <!-- <div class="col-md pt-5">
            </div> -->
        </div>
    </div>
</section>